################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AndrejSimunovicWeb/.vs/WebAPI/v15/Server/sqlite3/db.lock
/AndrejSimunovicWeb/.vs/WebAPI/v15/Server/sqlite3/storage.ide
/AndrejSimunovicWeb/.vs/WebAPI/v15/Server/sqlite3/storage.ide-shm
/AndrejSimunovicWeb/.vs/WebAPI/v15/Server/sqlite3/storage.ide-wal
